
@media only screen and (max-width:1399px) {

    h2{
        margin-right: 70px;
    }
    body{
        height: 100%;
    }
}

@media only screen and (max-width:1199px) {

    h2{
        margin-right: 20px;
    }

    h1{
        margin-top: 0px;
    }
}

@media only screen and (max-width:991px) {

    h2{
        margin-right: 40px;
        margin-bottom: 20px;
    }

    .circle{
        margin-left: 50px;
    }
    
    .url-box{
        width: 150px;
    }

    .btn{
        margin: 3%;
    }

    footer{
        margin-top:100px ;
    }

}

@media only screen and (max-width:767px) {

    .circle{
        height: 250px;
        width: 250px;
        margin-left: 125px;
    }

    h2{
        margin-right: 15px;
        margin-bottom: 20px;
    }

    .answer{
        margin-top: 110px;
    }

    .btn:first-child{
        margin-left: 110px;
    }

    .url-box{
        margin-left: 110px;
    }

    .logo{
        height: 70px;
    }
    
}

@media only screen and (max-width:575px) {

    .circle{
        margin-left: auto;
        margin-right:auto ;
    }

    h2{
        margin-left: auto;
        margin-right:auto ;
    }
    
    .btn{
        padding: 7px 15px;
    }

    .url-box{
        width: 120px;
        margin-left: 25%;
    }

    .btn:first-child{
        margin-left: 25%;
    }

}

@media only screen and (max-width:350px) {

    .btn{
        padding: 3px 10px;
    }

    .url-box{
        width: 90px;
        margin-left: 20%;
    }

    .btn:first-child{
        margin-left: 20%;
    }

}
